# https://github.com/giggio/node-chromedriver#versioning
chromedriver_version=LATEST_93

# https://github.com/dtolstyi/node-chromium#install-a-concrete-revision
# Revisions can be found here:
# https://npm.taobao.org/mirrors/chromium-browser-snapshots/Linux_x64/
node_chromium_revision=901912
