boto3
cdsapi
dateutils
flask
flask-httpauth
Flask-SQLAlchemy
ephem
gevent
gunicorn
h5py
LinkHeader
matplotlib
netcdf4
numpy
psycopg[binary]
pycryptodome
pyhdf
pymongo
python-dateutil
python-dotenv
pyYAML
requests
s3fs
scipy
simplejson
sqlalchemy
