black
boto3-stubs[essential]
matplotlib-stubs
mypy
pip-tools
pytest
pytest_docker_tools
pytest-freezegun
pytest-mock
pytest-xprocess
selenium
tox
types-Flask-Cors
types-mock
types-python-dateutil
types-PyYAML
types-requests
types-selenium
types-simplejson
