attrs
aws-cdk-lib
cdsapi
coda
coverage
cython
dateutils
flask
flask-httpauth
fortranformat
gevent
gunicorn
h5py
matplotlib
mock
netcdf4
numpy
psycopg2-binary
pycodestyle
pycryptodome
pyephem
pyflakes
pygresql
pyhdf
pylint
pymongo
pyproj
python-dateutil
pyyaml
requests
scipy
setuptools
simpleflock
simplejson
sqlalchemy
