black
boto3-stubs[essential]
matplotlib-stubs
mypy
pip-tools
pytest
pytest_docker_tools
pytest-docker
pytest-freezegun
pytest-xprocess
requests
selenium
tox
types-mock
types-python-dateutil
types-PyYAML
types-requests
types-simplejson
webdriver_manager
