-rodinapi-requirements.txt
dateutils
requests
numpy
coverage
pytest
pytest-mongo==1.1.2
pylint
selenium
jasmine==3.1.0
mock
pycodestyle
pyflakes
netCDF4
pyephem
matplotlib
PyGreSQL==4.1.1
scipy==0.18.1
