
body {
  padding-top: 60px;
}
/*
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
*/

select {
  display: inline-block;
}

img.loadingsql {
    height: 600px;
    width: 800px;
    background: transparent url(/static/images/odin-loader.gif) no-repeat scroll center center;
}

.highlight {
    background-color: #428bca !important;
    color: #fff;
}

.highlight a {
    color: #fff;
    font-style: italic;
}

.plotter {
    height: 60px;
    width: 80%;
}

.loader p {
  font-style: italic;
  font-size: 110%;
  display: inline;
}

.loader {
  display: inline-block;
}

.spinner {
  display: inline-block;
}

#select-project-loader-spinner {
  margin-right: 6px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #428bca;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  vertical-align: middle;
}

#select-freqmode-loader-spinner {
  margin-right: 6px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #428bca;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  vertical-align: middle;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
