<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="footer, address, phone, icons" />
    <meta name="referrer" content="no-referrer">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Odin/SMR</title>
  </head>
  <body>
{% block layout %}
    <div>
      layout
    </div>
{% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/odinlib.js') }}"></script>
{% block script %}
{% endblock %}
  </body>
</html>
