{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1> Odin/SMR Data Access</h1>
  </div>
    <div class="container-fluid">

      <div  class="row">
        <div class="col-md-12">
          <h2>Introduction</h2>
<p class="lead">
The primary way of accessing data from the Odin/SMR mission is through the
<em>Odin/SMR web-API</em>. Data is also available for download as
<em>NetCDF files</em>, accessible at
<a href="http://odin.rss.chalmers.se/level2_download/">
  http://odin.rss.chalmers.se/level2_download/</a>.
</p>
<p>
The Odin web-API is a so called <em>REST API</em>, where the user makes a
<em>GET request</em> to an <em>API-endpoint</em>, a URI provided by the API.
The result of the request is a so called <em>JSON-object</em>. JSON is a
text-based data exchange standard with key-value pairs, which can be
interpreted by most modern programming languages, including <em>MATLAB</em> and
<em>Python</em>. For instance, in Python the JSON structure is mapped to a
so called <em>dictionary</em> object.
</p>
<p>
While the API can be accessed directly in a web browser, this is not
recommended. The user will typically access the data by making requests using a
script or computer program, some examples of which are given below.
</p>
<p>
The <em>root URI</em> of the API is
<code>http://odin.rss.chalmers.se/rest_api/v5</code>.
In the following, endpoints will be described relative to this root.
</p>
        </div>
      </div>

      <div  class="row">
        <div class="col-md-12">
          <h2>Data format specification</h2>
<p>
The various data structures that are returned by the API and used in the
NetCDF files are documented in these PDF documents:
<ul>
  <li><a href="{{ url_for('static', filename='documents/L1_ATBD.pdf') }}">
    Algorithm Theoretical Basis Document: Level 1 Processing</a>,
  <li><a href="{{ url_for('static', filename='documents/L2_DATA.pdf') }}">
    Level 2 Data - Format and overview</a>.
</ul>
</p>
        </div>
      </div>

      <div  class="row">
        <div class="col-md-12">
          <h2>Endpoints for data access</h2>
<p>
Since the Level 1 data requires specialised knowledge about the Odin/SMR
instrument, only access to the Level 2 data is covered here. For information on
how to access Level 1 data, please see the
<a href="{{ url_for('static', filename='documents/L1_ATBD.pdf') }}">L1 ATBD</a>.
</p>

          <h3>Getting project information</h3>
<p>
The Level 2 data sets are organised under "projects". To get a list of
available projects, a request to the <code>/level2/projects/</code> endpoint is
made. General information about a particular project can then be acquired by a
request to the <code>/level2/{project}/</code> endpoint, where
<code>{project}</code> is a project name from the project list.
</p>
<p>
Each project may contain a number of different data products. To get a list of
the available products for a given project, make a request to the
<code>/level2/{project}/products/</code> endpoint.  The main entry points for
getting data from the API are the <em>locations</em>, <em>area</em> and
<em>date</em> endpoints, introduced below.
</p>
<h4>
  Example query for project <em>ALL-Strat-v3.0.0</em>:
</h4>
<code>
  /level2/ALL-Strat-v3.0.0/products/
</code>
</p>
<p>
<h4>
  Python code example:
</h4>
<pre>
import requests

API_ROOT = "http://odin.rss.chalmers.se/rest_api/v5"
PROJECTS_ENDPOINT = "/level2/projects/"
PRODUCTS_ENDPOINT = "/level2/{project}/products/"


def get_projects():
    """Function for getting projects from the Odin REST API"""

    # Construct request URI:
    request_url = API_ROOT + PROJECTS_ENDPOINT

    # Get data:
    response = requests.get(request_url)

    # Return data:
    return response.json()


def get_products(project="ALL-Strat-v3.0.0"):
    """Function for getting products from the Odin REST API"""

    # Construct request URI:
    request_url = API_ROOT + PRODUCTS_ENDPOINT.format(project=project)

    # Get data:
    response = requests.get(request_url)

    # Return data:
    return response.json()


PROJECTS = get_projects()
PRODUCTS = get_products("ALL-Strat-v3.0.0")
</pre>
</p>

          <h3>Look up data by location</h3>
<p>
The locations endpoint lets you filter data to within a specified
<em>radius</em> (km) around one or more <em>locations</em>. The endpoint also
requires the user to specify a <em>date limit</em> and one of either a
<em>pressure</em> or an <em>altitude interval</em>. If one or more
<em>products</em> are specified, only data for these will be returned,
otherwise data for all available data products will be returned.
This endpoint is using pagination. Thus, a single request to this
endpoint does not necessarily return all data matching your
filter, but in this case the response contains information about where
you can get next page of data, as shown in the Python code example below.
</p>
<p>
The locations endpoint is located at <code>/level2/{project}/locations</code>.
</p>
<p>
Please note the lack of a trailing <code>/</code> in this endpoint.
</p>
<p>
<h4>
  Example query for project <em>ALL-Strat-v3.0.0</em>, product
  <em>O3 / 545 GHz / 20 to 85 km</em> at a single location:
</h4>
<code>
  /level2/ALL-Strat-v3.0.0/locations?product=O3%20%2F%20545%20GHz%20%2F%2020%20to%2085%20km&min_altitude=20000&max_altitude=85000&start_time=2015-01-03&end_time=2015-01-04&radius=2600&location=90,0
</code>
</p>
<p>
<h4>
  Python code example:
</h4>
<pre>
import requests

API_ROOT = "http://odin.rss.chalmers.se/rest_api/v5"
LOCATIONS_ENDPOINT = "/level2/ALL-Strat-v3.0.0/locations"


def get_arctic_ozone(start_date, end_date):
    """Function for getting ozone data from the Odin REST API"""

    # Set up parameters:
    parameters = {
        "product": "O3 / 545 GHz / 20 to 85 km",
        "location": "90,0",
        "radius": 2600,
        "min_altitude": 20000,
        "max_altitude": 85000,
        "start_time": start_date,
        "end_time": end_date,
    }

    # Construct request URI:
    request_url = API_ROOT + LOCATIONS_ENDPOINT

    # Get data:
    response = requests.get(request_url, params=parameters)
    data = [response.json()]

    # Note that this endpoint is paginated,
    # and the loop below retrieves data from all pages:
    while "next" in response.links:
        response = requests.get(response.links["next"]["url"])
        data.append(response.json())

    return data


DATA = get_arctic_ozone("2015-01-03", "2015-01-04")
</pre>
</p>

          <h3>Look up data by area</h3>
<p>
The area endpoint lets you filter data to within a specified area bounded by
<em>latitude</em> and/or <em>longitude limits</em>. The endpoint also requires the user
to specify a <em>date limit</em> and one of either a <em>pressure</em> or an
<em>altitude interval</em>. If one or more <em>products</em> are specified,
only data for these will be returned, otherwise data for all available data
products will be returned. The area endpoint is, as the locations endpoint,
using pagination.
</p>
<p>
The area endpoint is located at <code>/level2/{project}/area</code>.
</p>
<p>
Please note the lack of a trailing <code>/</code> in this endpoint.
</p>
<p>
<h4>
  Example query for project <em>ALL-Strat-v3.0.0</em>, product
  <em>O3 / 545 GHz / 20 to 85 km</em> for equatorial latitudes:
</h4>
<code>
  /level2/ALL-Strat-v3.0.0/area?product=O3%20%2F%20545%20GHz%20%2F%2020%20to%2085%20km&min_pressure=0&max_pressure=100000&start_time=2015-01-03&end_time=2015-01-04&min_lat=-5&max_lat=5
</code>
</p>
<p>
<h4>
  Python code example:
</h4>
<pre>
import requests

API_ROOT = "http://odin.rss.chalmers.se/rest_api/v5"
AREA_ENDPOINT = "/level2/ALL-Strat-v3.0.0/area"


def get_equatorial_ozone(start_date, end_date):
    """Function for getting ozone data from the Odin REST API"""

    # Set up parameters:
    parameters = {
        "product": "O3 / 545 GHz / 20 to 85 km",
        "min_lat": -5,
        "max_lat": 5,
        "min_altitude": 20000,
        "max_altitude": 85000,
        "start_time": start_date,
        "end_time": end_date,
    }

    # Construct request URI:
    request_url = API_ROOT + AREA_ENDPOINT

    # Get data:
    response = requests.get(request_url, params=parameters)
    data = [response.json()]

    # Note that this endpoint is paginated,
    # and the loop below retrieves data from all pages:
    while "next" in response.links:
        response = requests.get(response.links["next"]["url"])
        data.append(response.json())

    return data


DATA = get_equatorial_ozone("2015-01-03", "2015-01-04")
</pre>
</p>

          <h3>Look up data by date</h3>
<p>
The date endpoint lets you access data for a single day. The endpoint also
requires the user to specify one of either a <em>pressure</em> or a
<em>altitude interval</em>. If one or more <em>products</em> are specified,
only data for these will be returned, otherwise data for all available data
products will be returned.
</p>
<p>
The date endpoint is located at <code>/level2/{project}/{date}/</code>
where <code>{date}</code> should be replaced with a date on the format
<code>YYYY-MM-DD</code>.
</p>
<p>
<h4>
  Example query for project <em>ALL-Strat-v3.0.0</em>, product
  <em>O3 / 545 GHz / 20 to 85 km</em>:
</h4>
<code>
  /level2/ALL-Strat-v3.0.0/2015-01-03/?product=O3%20%2F%20545%20GHz%20%2F%2020%20to%2085%20km&min_pressure=10&max_pressure=100000
</code>
</p>
<p>
<h4>
  Python code example:
</h4>
<pre>
import requests

API_ROOT = "http://odin.rss.chalmers.se/rest_api/v5"
DATE_ENDPOINT = "/level2/ALL-Strat-v3.0.0/{date}/"


def get_ozone_on_date(date_string):
    """Function for getting ozone data from the Odin REST API"""

    # Set up parameters:
    parameters = {
        "product": "O3 / 545 GHz / 20 to 85 km",
        "min_altitude": 20000,
        "max_altitude": 85000,
    }

    # Construct request URI:
    request_url = API_ROOT + DATE_ENDPOINT.format(date=date_string)

    # Get data:
    response = requests.get(request_url, params=parameters)

    # Return data:
    return response.json()


DATA = get_ozone_on_date("2015-01-03")
</pre>
</p>

          <h3>Other endpoints</h3>
<p>
Documentation for all endpoints available through the API is available in the
<a href="/apidocs/index.html">API documentation</a>.
</p>
        </div>
      </div>

      <div  class="row">
        <div class="col-md-12">
          <h2>Downloadable examples</h2>
<p>
For most users the <em>Level 2 data</em> – consisting mainly of atmospheric
profiles of different species concentrations at different locations – will be
of most interest. An example of a Python program for accessing the
<em>Level 2 API</em> can be downloaded
<a href="{{ url_for('static', filename='examples/get_l2_data.py') }}">
  here</a>.

</p>
<p>
The <em>Level 1 data</em> consists of the spectra used in calculating the
Level 2 profiles. An example Python program for accessing the Level 1 spectra
can be downloaded
<a href="{{ url_for('static', filename='examples/get_l1b_for_period.py') }}">
  here</a>.
</p>
</p>
        </div>
      </div>

      <div  class="row">
        <div class="col-md-12">
          <h2>Recommended projects and products</h2>
<p>
The recommended projects and products to use for the different species are
listed in the table below. For instance, to access the ozone profiles for the
date <em>2015-01-03</em> you could make a call to the following URI:
</p>
<p>
<code>
http://odin.rss.chalmers.se/rest_api/v5/level2/ALL-Strat-v3.0.0/2015-01-03/?product=O3%20%2F%20545%20GHz%20%2F%2020%20to%2085%20km&min_pressuree=0&max_pressure=100000
</code>
</p>
<p>
Note that all spaces in the product names need to be replaced by
<code>%20</code> in the request.
</p>
<p>
For a detailed discussion of the different products, see the
<a href="{{ url_for('static', filename='documents/PVER.pdf') }}">Odin/SMR Product Validation and Evolution Report</a>.
</p>
          <div>
            <table class="table">
              <tbody>
                <tr>
                  <td><b>Species</b></td>
                  <td><b>Project</b></td>
                  <td><b>Product name</b></td>
                  <td><b>Vertical coverage<b></td>
                  <td><b>Comment</b></td>
                </tr>
                <tr>
                  <td>Ozone</td>
                  <td>ALL-Strat-v3.0.0</td>
                  <td>O3 / 545 GHz / 20 to 85 km</td>
                  <td>17–77 km</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Chlorine monoxide</td>
                  <td>ALL-Strat-v3.0.0</td>
                  <td>ClO / 501 GHz / 20 to 55 km"</td>
                  <td>18–58 km</td>
                  <td>Caution advised from early 2010 to January 2018</td>
                </tr>
                <tr>
                  <td>Stratospheric water vapour</td>
                  <td>ALL-Strat-v3.0.0</td>
                  <td>H2O / 488 GHz / 20 to 70 km</td>
                  <td>19–78 km</td>
                  <td>Possible low bias of up to 15&nbsp;%</td>
                </tr>
                <tr>
                  <td>Mesospheric water vapour</td>
                  <td>ALL-Meso-v3.0.0</td>
                  <td>H2O - 557 GHz - 45 to 100 km</td>
                  <td>44–110 km</td>
                  <td>Possible low bias of up to 15&nbsp;%</td>
                </tr>
                <tr>
                  <td>Stratospheric temperature</td>
                  <td>ALL-Strat-v3.0.0</td>
                  <td>Temperature / 545 GHz / 15 to 65 km</td>
                  <td>21–64 km</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Mesospheric temperature</td>
                  <td>ALL-Meso-v3.0.0</td>
                  <td>Temperature - 557 (Fmode 13) - 45 to 90 km</td>
                  <td>44–95 km</td>
                  <td>Possible cold bias of 3–5&nbsp;K</td>
                </tr>
                <tr>
                  <td>Nitric oxide</td>
                  <td>meso21</td>
                  <td>NO - 551 GHz - 45 to 115 km</td>
                  <td>45–115 km</td>
                  <td>Sporadic temporal coverage</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
