{% extends "layout.html" %}


{% block content %}
<div class="container">
  <div class="jumbotron">
      <h1> Odin/SMR Data catalog</h1>
  </div>

      {% if data %}
      {% if data|string() is equalto "False" %}
          <i class="fa fa-tachometer"></i>
      {% endif %}
      {% endif %}

<div class="container-fluid">
      <hr id="news" class="featurette-divider">

      <div  class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Monitoring the sky <span class="text-muted">from above</span></h2>
          <p class="lead">The Odin satellite was launched in February 2001 and
was designed to combine two scientific disciplines on a single spacecraft in
studies of star formation/early solar system (astronomy) and of the mechanisms
behind the depletion of the ozone layer in the earth atmosphere and the effects
of global warming (aeronomy).</p>

          <p>The satellite has been used as a true observatory in order to best
respond to scientific challenges. The astronomy mission was successfully
concluded in the spring of 2007 and since then the satellite has been used
exclusively for studies of the Earth’s atmosphere. During the first three years
of the Odin mission, when both astronomy and aeronomy observations were
conducted, the available observing time was shared equally between the two
disciplines.</p>

<!--
<p>The main instrument on Odin is an advanced radiometer using a 1.1 m
telescope, designed to be used for both the astronomy and aeronomy missions.
The radiometer works in essentially unexplored frequency bands (486-580 GHz and
at 119 GHz) with an unsurpassed sensitivity and spatial resolution.

<p>For the aeronomy mission the payload is complemented by a spectrograph,
named OSIRIS (Optical Spectrograph and Infrared Imaging System). OSIRIS
provides simultaneous observations in two channels; a UV/Visible channel with a
passband of 280-800 nm, and an IR channel with a total pass band of 30 nm,
centered on 1.27 microns.</p>

<p>In order to fulfill the scientific requirements Odin is 3-axis stabilized,
capable of switching between astronomy and aeronomy modes. It can be staring at
astronomical targets for hours with an accuracy of 15 arc seconds or can scan
the limb of the Earth's atmosphere at various speeds between 10 and 120 km
altitudes, 40 times per orbit, with a reconstructed accuracy of 1.2 arc
minutes. The entire satellite is pointed towards the targets.</p>

<p>Odin was placed into a 600 km sun-synchronous, terminator orbit by a START-1
rocket on 20 February 2001 from Svobodny, far eastern Russia.</p>

<p>The Swedish Space Corporation, on behalf of the Swedish National Space Board
and the space agencies of Canada (CSA), Finland (TEKES) and France (CNES), has
developed the satellite for astronomers and atmospheric researchers in the
participating countries. The satellite is operated from a ground station at
Esrange.  </p>
-->

        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='images/Odin_Auto8.jpg') }}" alt="Generic placeholder image">
        </div>
      </div>

      <hr id="documents" class="featurette-divider">

      <div  class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Documents <span class="text-muted">for download</span></h2>
          <p class="lead">
          <ul>
            <li> <a href="{{ url_for('static', filename='documents/L1_ATBD.pdf') }}">
                    Algorithm Theoretical Basis Document - Level 1 Processing (PDF)
                 </a>
            <li> <a href="{{ url_for('static', filename='documents/L2_ATBD.pdf') }}">
                    Algorithm Theoretical Basis Document - Level 2 Processing (PDF)
                 </a>
          </ul>
          </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='images/Odin_Auto8.jpg') }}" alt="Generic placeholder image">
        </div>
      </div>

      <hr id="consortium" class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">The consortium who make the data flow from space. <span class="text-muted">all the way to you</span></h2>

          <p class="lead">In september 2015 <a href="https://earth.esa.int/web/sppa/home">ESA/SPPA</a> took the initiative to reprocess the Odin SMR data set. Since the launch of Odin in 2001 Chalmers and
          the department of Geo and Space Sciences have been responsible for
          processing the level2 product.</p>

          <p> The processing activity has been financed by ESA since 2007. Odin is a part
          of ESA's <a href="https://earth.esa.int/web/guest/missions/3rd-party-missions/overview">Third party misson program</a> within its Earthnet Programme.
          </p>
          <p>
          <i class="fa fa-link"></i>
          <a href="https://earth.esa.int/web/guest/missions/3rd-party-missions/overview">ESA third party missions</a>
          </p>
          <p>The current reprocessing campaign is being realized as a
          cooperation between <a href="http://www.chalmers.se">Chalmers</a> and <a hreg="http://www.molflow.com">Molflow</a>.</p>

        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='images/Odin_Auto9.jpg') }}" alt="Generic placeholder image">
        </div>
        </div>
      </div>

      <hr id="contact" class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Contact us <span class="text-muted">you will find us on earth</span></h2>
          <p class="lead">The mission scientist for ODIN/SMR is Prof. Donal Murtagh (Chalmers) and ESA's contact is Dr. Bojan Bojkov </p>

          <div class="well">
          <p><span class="fa fa-user"/> Prof. Donal Murtagh</p>
          <p><i class="fa fa-envelope"></i>

          donal.murtagh@chalmers.se</p>

          <p>
          <i class="fa fa-map-marker"></i>

          Chalmers University of Technology </br>
          Department of Earth and Space Science </br>
          SE-412 96 Gothenburg </br>
          Sweden
          </p>
          </div>

          <div class="well">
          <p> <span class="fa fa-user"/> Dr. Bojan Bojkov</p>

          <p><i class="fa fa-envelope"></i>
          Bojan.bojkov@esa.int </p>
          <p>
          <i class="fa fa-map-marker"></i>

          ESA-ESRIN <br/>
          Via Galileo Galilei Frascati (RM) <br/>
          00044 Italy
          </p>
          </div>

        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='images/AS4-1-410HR.jpg') }}" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


</div
</div>
{% endblock %}

