{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
      <h1> Odin/SMR Project Portal</h1>
  </div>

  {% if data %}
  {% if data|string() is equalto "False" %}
  <i class="fa fa-tachometer"></i>
  {% endif %}
  {% endif %}

  <div class="container-fluid">

    <hr id="news" class="featurette-divider">

    <div  class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Version 3 released<span class="text-muted"> 2020-10-30</span></h2>
        <p class="lead">
          We are happy to announce the release of version 3 of the Odin
          dataset.
        </p>
        <p>
          This work has been supported by ESA and has involved the
          following:
          <ul>
            <li>
              A complete reprocessing of the level 0 data to level 1. This
              included an improved algorithm for selection of background
              spectra for calibration, a time and temperature dependent
              frequency correction and automated removal of baseline.
            </li>
            <li>
              An upgraded level 2 processing scheme where mesospheric and
              stratospheric products were treated separately with optimised
              retrieval settings and where necessary improved spectroscopic
              parameters.
            </li>
            <li>
              A comprehensive validation exercise against other instruments.
            </li>
          </ul>
          Some highlights include:
          <ul>
            <li>
              Recovery of the mesospheric carbon monoxide dataset for the
              entire mission where a failed phase locked loop had caused the
              frequency to drift and processing failure.
            </li>

            <li>
              A greatly improved ozone dataset.
            </li>

            <li>
              Better consistency between the two mesospheric water vapour
              products.
            </li>
          </ul>
        </p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='images/odinlaunch3.png') }}" alt="Odin launch">
      </div>
    </div>

    <hr class="featurette-divider">

    <div  class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Warning for <em>FM&nbsp;01</em> <span class="text-muted">for 2010–2018</span></h2>
        <p class="lead">
          Users are warned that data from FM&nbsp;01 may be unreliable
          between early 2010 and January 2018 due to a misbehaving local
          oscillator in the instrument.
        </p>
        <p>
          This has manifested itself by introducing asymmetric and broadened
          line shapes resulting in too low ozone and chlorine monoxide values.
          We are looking at ways to mitigate the effect but until then please
          use FM&nbsp;01 data with caution.
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='images/img2.gif') }}" alt="Odin exploded view">
      </div>
    </div>

    <hr class="featurette-divider">

    <div  class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Documentation updated<span class="text-muted"> 2020-03-11</span></h2>
        <p class="lead">
          The Odin reprocessing project is soon to be closed, we have
          reprocessed all data from the mission and updated the
          documents that describes the datasets and the algorithms used
          to process the data.
        </p>
        <p>All documents can be found <a href="#documents">here</a>.</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='images/Odin_Auto8.jpg') }}" alt="Odin at work">
      </div>
    </div>

    <hr id="sanoma" class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> NO empirical model
          <span class="text-muted">SANOMA</span></h2>

        <p>
          SANOMA is an empirical model of nitric oxide in the upper mesosphere
          and lower thermosphere, based on Odin/SMR measurements.  It provides
          the NO number density as a function of magnetic latitude (from -82.5
          to +82.5 degrees) and altitude (from 85 to 118 km) for any day under
          consideration.  Basic instructions on how to use this model, as well
          as the associated coefficients, are available on this web page.
          These files are provided in MATLAB format. The coefficients are also
          available in text format for those who do not have MATLAB.
        </p>

        <p>
          We refer the users to the article <a
            href="https://doi.org/10.5194/acp-18-13393-2018">"An empirical model of
            nitric oxide in the upper mesosphere and lower thermosphere based
            on 12 years of Odin-SMR measurements"</a>, by J. Kiviranta, K.
          Pérot, P. Eriksson and D. Murtagh, published in Atmospheric Chemistry
          and Physics in 2018, for further details.  If you wish to use this
          model, or for any other question about it, please contact Kristell
          Pérot (<a
            href="mailto:kristell.perot@chalmers.se">kristell.perot@chalmers.se</a>),
        </p>

        <p>
          <ul>
            <li> <a href="{{ url_for('static', filename='documents/SANOMA/SANOMA_instructions.m') }}">
                  General instructions</a>
            <li> <a href="{{ url_for('static', filename='documents/SANOMA/SANOMA_extraindices.m') }}">
                  How to calculate the additional indices</a>
            <li> <a href="{{ url_for('static', filename='documents/SANOMA/SANOMA_indices.mat') }}">
                  Model coefficients (MATLAB)</a>
            <li> <a href="{{ url_for('static', filename='documents/SANOMA/SANOMA_indices.txt') }}">
                  Model coefficients (text)</a>
          </ul>
        </p>

      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='images/8_odin.jpg') }}" alt="Odin making progress">
      </div>
    </div>

    <hr id="mesospheo" class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading"> ESA mesosphEO
          <span class="text-muted">project</span></h2>

          <p>
          Between 2014 and 2017, the SMR team took part in the ESA MesosphEO
          project, whose goal was to provide the atmospheric science
          community with a comprehensive data set of Level 2–3 covering a
          time period of at least 10 years from satellite instruments on the
          Envisat, Odin and SCISAT platforms. A common file format and
          variable names have been used for all the project’s data products,
          making them easy to use. Merged mesospheric products, including SMR
          H<sub>2</sub>O and temperature observations, have also been created.
          All data are available on the <a
          href="http://mesospheo.fmi.fi/data_service.html">project’s data
          service page</a> together with product specification documents.
        </p>
        <p>
          The project participants have also produced a number of mesospheric
          overviews and surveys, as well as a user requirement definition
          document for mesospheric observations. All these documents are
          available on the <a href="http://mesospheo.fmi.fi/">project
          website</a>.
        </p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='images/mesospheo_logo.jpg') }}" alt="ESA MesosphEO">
      </div>
    </div>

    <hr class="featurette-divider">

    <div  class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Monitoring the sky <span class="text-muted">from above</span></h2>
        <p class="lead">
          The Odin satellite was launched in February 2001 and
          was designed to combine two scientific disciplines on a single
          spacecraft for studying of star formation and the early solar system
          (astronomy) and the mechanisms behind the depletion of the ozone
          layer in the Earth's atmosphere and the effects of global warming
          (aeronomy).
        </p>
        <p>
          The satellite has been used as a true observatory in order to best
          respond to scientific challenges. The astronomy mission was
          successfully concluded in the spring of 2007 and since then the
          satellite has been used exclusively for studies of the Earth’s
          atmosphere. During the first six years of the Odin mission, when
          both astronomy and aeronomy observations were conducted, the
          available observing time was shared equally between the two
          disciplines.
        </p>

<!--
<p>The main instrument on Odin is an advanced radiometer using a 1.1 m
telescope, designed to be used for both the astronomy and aeronomy missions.
The radiometer works in essentially unexplored frequency bands (486-580 GHz and
at 119 GHz) with an unsurpassed sensitivity and spatial resolution.

<p>For the aeronomy mission the payload is complemented by a spectrograph,
named OSIRIS (Optical Spectrograph and Infrared Imaging System). OSIRIS
provides simultaneous observations in two channels; a UV/Visible channel with a
passband of 280-800 nm, and an IR channel with a total pass band of 30 nm,
centered on 1.27 microns.</p>

<p>In order to fulfill the scientific requirements Odin is 3-axis stabilized,
capable of switching between astronomy and aeronomy modes. It can be staring at
astronomical targets for hours with an accuracy of 15 arc seconds or can scan
the limb of the Earth's atmosphere at various speeds between 10 and 120 km
altitudes, 40 times per orbit, with a reconstructed accuracy of 1.2 arc
minutes. The entire satellite is pointed towards the targets.</p>

<p>Odin was placed into a 600 km sun-synchronous, terminator orbit by a START-1
rocket on 20 February 2001 from Svobodny, far eastern Russia.</p>

<p>The Swedish Space Corporation, on behalf of the Swedish National Space Board
and the space agencies of Canada (CSA), Finland (TEKES) and France (CNES), has
developed the satellite for astronomers and atmospheric researchers in the
participating countries. The satellite is operated from a ground station at
Esrange.  </p>
-->

      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='images/odin665.jpg') }}" alt="Odin aeronomy">
      </div>
    </div>

    <hr id="documents" class="featurette-divider">

    <div  class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Documents <span class="text-muted">for download</span></h2>
        <p class="lead">
          <ul>
            <li> <a href="{{ url_for('static', filename='documents/L1_ATBD.pdf') }}">
                    Algorithm Theoretical Basis Document - Level 1 Processing (PDF) (2020-09-09)
                </a>/</li>
            <li> <a href="{{ url_for('static', filename='documents/L2_ATBD.pdf') }}">
                    Algorithm Theoretical Basis Document - Level 2 Processing (PDF) (2020-03-07)
                </a></li>
            <li> <a href="{{ url_for('static', filename='documents/RBD.pdf') }}">
                    Odin/SMR Requirement Baseline Document (PDF) (2015-12-10)
                </a></li>
            <li> <a href="{{ url_for('static', filename='documents/VDS.pdf') }}">
                    Odin/SMR Verification Dataset: Technical Note (PDF)  (2019-12-04)
                </a></li>
            <li> <a href="{{ url_for('static', filename='documents/L2_DATA.pdf') }}">
                    L2 data - format and overview (PDF) (2020-08-12)
                </a></li>
            <li> <a href="{{ url_for('static', filename='documents/DBMI.pdf') }}">
                    Level2 processing configuration (PDF) (2020-09-08)
              </a></li>
            <li> <a href="{{ url_for('static', filename='documents/IODD.pdf') }}">
                    Input/Output Data Definition Document: Level2 processor (PDF) (2020-09-08)
              </a></li>
            <li> <a href="{{ url_for('static', filename='documents/CAD.pdf') }}">
                  Odin/SMR Level 2 Completeness Analysis Document (PDF) (updated 2019-12-04)
            </a></li>
            <li> <a href="{{ url_for('static', filename='documents/PVER.pdf') }}">
                  Odin/SMR Product Validation and Evolution Report (PDF) (2020-10-27)
            </a></li>
            <li>
              <a href="{{ url_for('static', filename='documents/astro_aero_programme159.xlsx') }}">
              Programme planning spreadsheet for the Odin/SMR mission (XLSX)
              </a>
              <i class="fa fa-question-circle-o" data-toggle="tooltip" title="For most users the observing plan tab is the most interesting. Here the date in column B and the observing mode and description in columns R and S.
              To understand the rest of the table we need to point out a few things about how the planning works. The orbit is divided into three sections: north polar area, equatorial and south polar area. Pointing and instrument modes can be set independently in each area. Pointing modes can include the altitude range (stratmode 7–70 km, stratmesomode 1–120 km) and whether we point in the plane of the orbit or otherwise. When non-standard modes are used there is a comment to point this out."></i>
            </li>
          </ul>
        </p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='images/ODIN_Flight_configuration16_small.jpg') }}" alt="Odin on Earth">
      </div>
    </div>


    <hr id="consortium" class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
            The consortium bringing data from space <span
                class="text-muted">all the way to you </span></h2>

        <p class="lead">
        Since the launch of Odin in 2001 the Department of Earth and Space
        Sciences at Chalmers has been responsible for processing the Level2
        product. In september 2015 <a
          href="https://earth.esa.int/web/sppa/home">ESA/SPPA</a> decided to
        support the reprocessing of the Odin/SMR data set, which is now in
        progress.
        </p>

        <p> The Odin mission has been supported by ESA since 2007. Odin is a
        part of ESA's <a
        href="https://earth.esa.int/web/guest/missions/3rd-party-missions/overview">Third
        party misson program</a> within its Earthnet Programme.
        </p>

        <p>
        <i class="fa fa-link"></i>
        <a href="https://earth.esa.int/web/guest/missions/3rd-party-missions/overview">ESA third party missions</a>
        </p>

        <p>The reprocessing campaign is a cooperation between
        <a href="http://www.chalmers.se">Chalmers</a> and
        <a href="http://www.molflow.com">Molflow</a>.
        </p>

        <p> The computations were enabled by resources provided by the Swedish
        National Infrastructure for Computing <a href="https://www.snic.se/">(SNIC)</a>
        funded by the Swedish Research Council through grant agreement no. 2018-05973.
        <p>

      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='images/Odin_Auto9.jpg') }}" alt="Odin in space">
      </div>
      </div>
    </div>

    <hr id="contact" class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Contact us, <span class="text-muted">you will find us here</span></h2>
        <p class="lead">The mission scientist for ODIN/SMR is Prof. Donal
        Murtagh (Chalmers) and ESA's contact is Angelika Dehn </p>

        <div class="well">
          <p><span class="fa fa-user"/> Prof. Donal Murtagh</p>
          <p><span class="fa fa-envelope"/>
            <a href="mailto:donal.murtagh@chalmers.se">donal.murtagh@chalmers.se</a>
          </p>
          <p>
          <span class="fa fa-map-marker"/>
          Chalmers University of Technology </br>
          Department of Earth and Space Sciences </br>
          SE-412 96 Gothenburg </br>
          Sweden
          </p>
        </div>

        <div class="well">
          <p><span class="fa fa-user"/> Angelika Dehn</p>
          <p><span class="fa fa-envelope"/>
            <a href="mailto:angelika.dehn@esa.int">angelika.dehn@esa.int</a>
          </p>
          <p>
          <span class="fa fa-map-marker"/>
          ESA-ESRIN <br/>
          Via Galileo Galilei Frascati (RM) <br/>
          00044 Italy
          </p>
        </div>

      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='images/AS4-1-410HR.jpg') }}" alt="Home">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>
</div>
{% endblock %}

