
{% extends "layout.html" %}


{% block content %}

   <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/level1">Level1</a></li>
<!--            <li><a href="/level2">Level2</a></li> -->
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Level1 data dashboard</h1>
          <p>The dashboard is a user interface to browse through and look at level 1b data from the Odin/SMR instrument. The dashboard is currently under development and changes are likely to happen. </p>
          <p>The dashboard uses the Odin/SMR rest-API to look up data. The first version of the API is already available for use, the documentation of the API will be published here soon.</p>
          <p>The site is running on a minimal setup of hardware for demonstration purposes only, please be patient performance could be better</p>
          <h2>Instructions</h2>
          <p>Enter or select a date in the datefield, click on the row in the table to view an overview of the measurement done in the specific freqmode<p>
          <p> At the bottom of the page another table shows scans made using the chosen settings and links to the data itself and a plot representing the measurement (scan).</p>

<!--
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
-->
          <div>
              <input  type="text" value="2015-01-03" id="example1">
          </div>
          <h2 class="sub-header">Data</h2>
          <div class="table-responsive">
            <table id="level1-date" class="table table-striped">
              <!-- empty table -->
            </table>
          </div>
          <div>
              <img id="info-image" class="img-responsive" src="{{ url_for('static', filename='images/empty.png') }}"/>
          </div>
          <div id="ddata">
               
          </div>
          <h2 class="sub-header">Data</h2>
          <div class="table-responsive">
            <table id="info-table" class="table table-striped">
              <!-- empty table -->
            </table>
          </div>

        </div>
      </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
    <script type="text/javascript">
      // When the document is ready
      $(document).ready(function () {

        var startDate ='2001-02-20';
        var endDate   ='2042-02-11';
        var startView ='2015-01-03';
        $('#example1').datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
          startDate: startDate,
          endDate:    endDate,
          startView: startView
          }).on('changeDate', function(e) {
            updateLevel1(e.format('yyyy-mm-dd'))
          });
        updateLevel1(startView);
      });
    </script>
{% endblock %}
