
{% extends "layout.html" %}


{% block content %}

   <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/level1">Level1</a></li>
<!--            <li><a href="/level2">Level2</a></li> -->
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Level1 data dashboard</h1>
          <p>The dashboard is a user interface to browse through and look at
          level 1b data from the Odin/SMR instrument. The dashboard is
          currently under development and changes are likely to happen.</p>
          <p>The dashboard uses the Odin/SMR rest-API to look up data. The
          first version of the API is already available for use, the
          documentation of the API will be published here soon.</p>
          <p>The site is running on a minimal setup of hardware for
          demonstration purposes only, please be patient if the performance is
          slow.</p>
          <h2>Instructions</h2>
          <p>
          Select a date from the calendar or enter date in in the date field
          below. The overview table, constaining information of the
          measurements for the selected day, will automatically update.
          Click on a row in the table to view an overview of the measurements
          performed in a specific freqmode of interest.<p>
          <p> At the bottom of the page another table shows scans made for
          the chosen freqmode and backend and links to the data itself.
          This is table is updated automatically when a selection is made in
          the overview table. On clicking a row in the scan table, an image
          visualising the scan data will be displayed.</p>

          <div id='calendar'> </div>
          <div>
              <input  type="text" value="2015-01-03" id="datepicker1">
          </div>
          <h2 class="sub-header">Overview of daily measurements for <span id=level1-date></span></h2>
          <p>The table below describes the measurements made the selected date.
          Click on a row to get more information.</p>
          <div class="table-responsive">
            <table id="level1-date-table" class="table table-striped">
              <!-- empty table -->
            </table>
          </div>

          <div id="smart-plot" class="plotter" ></div>

          <div id="ddata">

          </div>
          <h2 class="sub-header">Scan information</h2>
          <p>Scan data can be downloaded directly from our rest-API using the
          links in the URL colummn. A scan is a group of spectra collected by
          the instrument when sweeping from the top of the atmosphere to the
          bottom (or reversed)</p>
          <div class="table-responsive">
            <table id="info-table" class="table table-striped">
              <!-- empty table -->
            </table>
          </div>

          <!-- div id="overviewplot" class="plotter" >
            <img id="info-image" class="img-responsive" src="{{ url_for('static', filename='images/empty.png') }}"/>
          </div -->

        </div>
      </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
    <script type="text/javascript">
        // When the document is ready
        $(document).ready(function () {

            var startView ='2015-01-03';
            var startDate ='2001-02-20';
            var endDate = '2042-02-11';

            $('#datepicker1').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                startDate: startDate
            }).on('changeDate', function(e) {
                $('#calendar').fullCalendar('gotoDate', e.format('yyyy-mm-dd'));
                updateLevel1(e.format('yyyy-mm-dd'));
            });

            initLevel1(startView);
            //initPlot(plotdata);
            initDataTable(startView, 'AC1', 2);

            $('#calendar').fullCalendar({
                header: {
                    left: 'title',
                    center: '',
                    right: 'today prevYear,prev,next,nextYear'
                },
                aspectRatio: 1.618,
                defaultDate: startView,
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                events: function(start, end, timezone, callback) {
                    updateCalendar(start, end);
                    callback();
                },
                eventClick: function(calEvent, jsEvent, view) {
                    $('#datepicker1').datepicker('setDate', calEvent.start.format());
                    clearDataTable();
                    updateDataTable(calEvent.start.format(), calEvent.Backend,
                                    calEvent.FreqMode);
                    return false;
                },
            });
        });

    </script>
{% endblock %}
