
{% extends "layout.html" %}


{% block content %}

   <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/level1">Level1 data</a></li>
            <li><a href="/level1statistics">Level1 statistics</a></li>
            <li class="active"><a href="/level2">Level2 data</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Level2 data dashboard</h1>

          <p>This dashboard is the user interface for browsing Level2 data
          from the Odin/SMR instrument. It is currently under development and
          changes are likely.</p>

          <p>The dashboard uses the Odin/SMR rest-API to access the data. The
          first version of the API is already available for use, the
          documentation of the API will be published here soon.</p>

          <p>The site is running on a minimal hardware setup for demonstration
            purposes only. Please be patient if the performance is slow.</p>

          <h2>List scans with level2 data</h2>
          The level2 data is under development and reside in different projects.
          Use the search functionality below to get a list of scans that have
          been processed in each project.

          <h3>Instructions</h3>
          <p>
            Choose a project and freqmode (and optionally a date range and/or offset).
            The data table will only show entries for a maximum of 1000 scans
            at a given time.</p>

          <p>
            The date range and offset can be used to filter the data entries
            of the table
            (the offset parameter can be used to skip the n first entries).</p>

          <p>
            Choose to list scans with level2 data or scans that failed the level2
            processing.
          </p>

          <form action="javascript:;" onsubmit="javascript:searchLevel2Scans(this)">
            <table class="search-form-table">
              <tr>
                <td>Project:
                  <!--select id="select-project-status" name="project-status">
                    <option selected="selected">development</option>
                    <option>production</option>
                  </select-->
                </td>
                <td>
                  <select id="select-project" name="project">
                    <option selected="selected" disabled>Choose project</option>
                  </select>
                  <div id="select-project-loader" class='loader'>
                    <div id='select-project-loader-spinner' class='spinner'></div>
                    <p>Loading projects...</p>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Freqmode:
                </td>
                <td>
                  <select id="select-freqmode" name="freqmode">
                    <option selected="selected" disabled>Choose freqmode</option>
                  </select>
                  <div id="select-freqmode-loader" class='loader'>
                    <div id='select-freqmode-loader-spinner' class='spinner'></div>
                    <p>Loading freqmodes...</p>
                  </div>
                </td>
              </tr><tr>
                <td>Start (yyyy-mm-dd):
                </td>
                <td><input name="start_date" data-provide="datepicker" data-date-format="yyyy-mm-dd" size="12">
                </td>
              </tr><tr>
                <td>End (yyyy-mm-dd):
                </td>
                <td><input name="end_date" data-provide="datepicker" data-date-format="yyyy-mm-dd" size="12">
                </td>
              </tr><tr>
                <td>Offset (a number):
                </td>
                <td><input name="offset" type="number" min="0" step="1000" size="6">
                </td>
             </tr><tr>
                <td colspan="2">
                  <input type="radio" name="types" value="scans" checked> Scans
                  <input type="radio" name="types" value="failed"> Failed
                </td>
              </tr><tr>
                <td><input type="submit" value="Show">
                </td>
              </tr>
            </table>
          </form>

          <div class="table-responsive">
            <div id="search-results-info"></div>
            <table id="search-results" class="table table-striped">
                <!-- empty table -->
            </table>
          </div>
        </div>
      </div>
   </div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
    <script type="text/javascript">
        // When the document is ready
        $(document).ready(function () {
           $("#select-project").change(function() {
              fillFreqmodeSelector();
           });
           initLevel2Dashboard();
        });
    </script>
{% endblock %}
