
{% extends "layout.html" %}


{% block content %}
    <style>
        .graticule {
            fill: none;
            stroke: #273;
            stroke-width: 0.5px;
            stroke-opacity: 0.5;
        }

        .land {
            fill: #2c5aa0;
        }

        .boundary {
            fill: none;
            stroke: #fff;
            stroke-width: 0.5px;
        }

        .grid {
            fill: #101010;
            fill-opacity: 0.05;
            stroke: #111;
            stroke-width: 0.5px;
            stroke-opacity: 0.5;
        }

        .data {
            fill: #a02c5a;
            fill-opacity: 0.5;
            stroke: #742e00;
            stroke-width: 0.5px;
            stroke-opacity: 0.5;
        }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/level1">Level1 data</a></li>
                    <li><a href="/level1statistics">Level1 statistics</a></li>
                    <li class="active"><a href="/level2">Level2 data</a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header" id="periodOverviewTitle">Period Overview</h1>
                <h2 id="periodOverviewInfo"></h2>
                <div id="overviewmap"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
    <script type="text/javascript">
        // When the document is ready

        $(document).ready(function () {
            renderLevel2PeriodOverview(
                '{{ data.project }}',
                '{{ data.parameter }}',
                {{ data.parameters|tojson|safe }}
            )
        });
    </script>
{% endblock %}
