
{% extends "layout.html" %}


{% block content %}

   <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/level1">Level1</a></li>
            <li><a href="/level2">Level2</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>
<!--
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
-->
          <div>
              <input  type="text" value="2015-01-03" id="example1">
          </div>
          <h2 class="sub-header">Data</h2>
          <div class="table-responsive">
            <table id="level1-date" class="table table-striped">
              <!-- empty table -->
            </table>
          </div>
          <div>
              <img id="info-image" class="img-responsive" src="{{ url_for('static', filename='images/empty.png') }}"/>
          </div>
          <div id="ddata">
               
          </div>
          <h2 class="sub-header">Data</h2>
          <div class="table-responsive">
            <table id="info-table" class="table table-striped">
              <!-- empty table -->
            </table>
          </div>

        </div>
      </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
    <script type="text/javascript">
      // When the document is ready
      $(document).ready(function () {
            
        var startDate ='2015-01-03';    
        $('#example1').datepicker({
          format: "yyyy-mm-dd",
          autoclose: true,
          startDate: startDate
          }).on('changeDate', function(e) {
            updateLevel1(e.format('yyyy-mm-dd'))
          });
        updateLevel1(startDate);
      });
    </script>
{% endblock %}
