on: workflow_dispatch
jobs:
  copilot-setup-steps:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    services:
      postgresql:
        image: odinsmr/odin_db:latest
        ports:
          - 127.0.0.1:5432:5432
        options: >-
          --health-cmd="pg_isready -h localhost -U odinop -d odin || exit 1"
          --health-interval=15s
          --health-timeout=5s
          --health-retries=3

      level2db:
        image: mongo
        ports:
          - 127.0.0.1:27017:27017
        options: >-
          --health-cmd="mongosh --quiet mongodb://localhost --eval \"db.stats()\""
          --health-interval=15s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          cache: "npm"

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-bin libatk-bridge2.0-0 libgbm1 libxss1 libasound2

      - name: Install uv
        uses: astral-sh/setup-uv@v7
      
      - name: aws credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::049185525373:role/Github_access_to_Slipstream 
          aws-region: eu-north-1
      
